include LICENSE
include README.md
include pyproject.toml

graft ioos_metrics

prune .github
prune *.egg-info
prune gts
prune website
prune tests
prune notebooks

exclude *.ipynb
exclude btn_metrics.py
exclude gts_atn_metrics.py
exclude gts_regional_metrics.py
exclude read_bufr.py
exclude ioos_btn_metrics.csv

exclude ruff.toml
exclude .gitignore
exclude .pre-commit-config.yaml
exclude *.yml
exclude ioos_metrics/_version.py
